/* general */
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Helvetica, Arial, sans-serif;

}
/* repetitive stuff and color palette:
jumbo: rgb(49, 97, 224)
lightpurple: #8ea1e1
purple: #7289da
not-black: #2c2f33
quite-black: #23272a
off-white: #f6f6f6
grey: #36393f
*/

.size-pos{
    max-width: 1170px;
    margin: 0 auto;
    padding: 10px 0;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}
.button{
    padding: 15px 17px;
    border-radius: 30px;
    font-size: 17px;
}
.white{
    background-color: white;
}
.white:hover{
    color: #7289da;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wt-txt{
    color: white;
}
.blk-txt{
    color: black;
}
.dark-black{
    background-color: #23272a;
}
.dark-black:hover{
    background-color: #36393f;
}
.bg-grey{
    background-color: #f6f6f6;
}
.lightpurple{
    background-color: #7c90d1;
}
.lightpurple:hover{
    background-color: #8ea1e1;
}
.flex-col{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.flex-icon{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.wave{
    background: url(../img/wave.svg);
    min-height: 100px;
    filter: opacity(3.5%);
}
.rotate{
    transform: rotate(180deg);
}
.button:hover{
    box-shadow: 0 10px 24px -4px rgba(0,0,0,0.32);
}


/* specific selector */
.top-bar{
    background-color: #255ee9;
}
header nav ul {
    width: 35%;
    min-width: 450px;
}
.btn-top-bar{
    font-size: 13px;
    padding: 10px 12px;
}
.bg-jumbo{
    background-image: url('../img/jumbo.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 390px;

}
.jumbo{
    max-width: 680px;
    margin: 0 auto;
    text-align: center;
}
h1{
    margin: 60px 0 30px;
    font-size: 47px;
}
p{
    font-size: 18px;
}
.jmb-bar{
    margin: 35px 10px;
}
.pg-img{
    width: 60%;
    min-width: 450px;
}
.pg-txt{
    width: 330px;
    color: #23272a;
}
h2{
    font-size: 42px;
}
h3{
    font-size: 32px;
    margin: 50px;
}
section.size-pos{
    padding: 70px 0;
}
#last-img{
    width: 100%;
    max-width: 1170px;
    text-align: center;
}
.star{
    background-image: url('../img/stars.svg');
    background-size: contain;
    background-repeat: no-repeat;
}
section.last{
    text-align: center;
    width: 700px;
    padding: 70px 0 0 30px;
}
#last-h3{
    margin-top: 0;
}
.last{
    padding-bottom: 150px;
}
.last-btn{
    font-size: 20px;
    margin: 50px;
}
footer{
    background-color: #23272a;
}
#bot-title{
    font-size: 30px;
}
h5, #bot-title{
    color: #7289da;
    margin: 0;
}
.foot-list{
    justify-content: space-around;
    padding: 40px 0;
    align-items: flex-start;
    color: #f6f6f6;
    border-bottom: 1px solid #363f56;
}
.list{
    width: calc(100% / 6);
}
.list-first{
    width: calc((100% / 6) * 2 );
}
.ita{
    justify-content: flex-start;
    height: 25px;
}
.list li, .list-first li{
    margin: 15px 0;
}

.flex-icon li{
    margin: 7px 10px;
}
.twitter::before{
    font-family: "Font Awesome 5 Brands";
    content: "\f099";
}
.instagram::before{
    font-family: "Font Awesome 5 Brands";
    content: "\f16d";
}
.facebook::before{
    font-family: "Font Awesome 5 Brands";
    content: "\f09a";
}
.youtube::before{
    font-family: "Font Awesome 5 Brands";
    content: "\f167";
}
.bot-bar{
    padding: 25px 0;
}

/* page 1 */
.align{
    text-align: left;
    width: 40%;
    display: inline-block;
}
.align h1{
    margin-top: 25px;
}
.bg-jumbop1{
    height: 450px;
    background-image: url(../pages/img/jumbopg1.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-color: #23272a;
}
.jumboimg1{
    width: 50%;
    max-height: 300px;
    text-align: right;
}
.col{
    width: 50%;
}
.card{
    background-color: grey; /*#f6f6f6;*/
    height: 400px;
    text-align: center;
    margin: 15px;
    border-radius: 15px;
}
.card h3{
    padding: 20px;
    margin: 0 auto;
}